


.header {
    background-color: #004D94;
  

  }

  .header-acsa{
    position: "" ;
    z-index: -1;

  }

.imagen-logo-acsa{
   width: 120px ;
}

.footer{
    background-color: #004D94;
    /* height: 5vh; */
    position: relative;
    color : white;
    
    

}

.link-acsa{
  text-decoration: none;
  color: black;
}

.xxx{
  position:relative;

}