/* *********************** Custom Properties ******************************** */

:root {
  --first-color:rgb(29, 94, 169);
  --first-alpha-color:rgb(29, 94, 169, 0.75);
  --second-color:rgb(74, 193, 239); 
  --second-alpha-color:rgb(74, 193, 239, 0.75);

  --bg-color:rgb(29, 94, 169);
  --bg-alpha-color:rgb(29, 94, 169, 0.75);

  --bg-gradient-color : linear-gradient(to right, blue, pink);
}


.bg-color-primario{
  background-color: var(--first-color);
}
 .bg.color-secundario{
  background-color: var(--second-color);
 }


 .header-mv{
  display: none;
}


@media (max-width:992px){
  .header-pc{
    display:none ;
  }
  .header-mv{
    display:inline;
    background-color: var(--bg-color);   
  }
}


  



.footer{
    background-color: #004D94;

    position: relative;
    color : white;



}

.link-acsa{
  text-decoration: none;
  color: black;
}





.text-producto-descripcion{
  color: grey;
  font-size: 13px;
}












/* *********************** Bootstrap ******************************** */

  .nav-item{
    transition: all 0.7s ease-in-out;
    border:1px solid transparent ;
  }

  .nav-item:hover{
    background-color: var(--first-alpha-color);
    border-radius:10%;
    border: 1px solid white;
  }

  .nav-busqueda{
    background-color: var(--second-color);
  }

  .nav-busqueda div div span{
    color: var(--first-color)!important;
  }
  .btn-outline-success{
    color: white!important;
    background-color:var(--first-color)!important;
  }


  .btn-outline-success:hover{
    background-color: crimson!important;
    
  }


  /* .bg1-carousel{
    background-image: url(../images/image2px.webp);
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    
  }
  .bg2-carousel{
    background-image: url(../images/image1px.webp);
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .bg3-carousel{
    background-image: url(../images/image3px.webp);
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  } */

  .slide img{
    height:fit-content;
  }