/* *********************** Custom Properties ******************************** */

:root {
  --first-color:rgb(29, 94, 169);
  --first-alpha-color:rgb(29, 94, 169, 0.75);
  --second-color:rgb(74, 193, 239); 
  --second-alpha-color:rgb(74, 193, 239, 0.75);

  --bg-color:rgb(29, 94, 169);
  --bg-alpha-color:rgb(29, 94, 169, 0.75);

  --bg-gradient-color : linear-gradient(to right, blue, pink);
}








/*
  .header-acsa{
    position: "" ;
    z-index: -1;

  }

.imagen-logo-acsa{
   width: 120px ;
}

.footer{
    background-color: #004D94;

    position: relative;
    color : white;



}

.link-acsa{
  text-decoration: none;
  color: black;
}

.xxx{
  position:relative;

}



.text-producto-descripcion{
  color: grey;
  font-size: 13px;
}

.mani{
  text-decoration: none;
  color: rgb(107, 6, 6) !important ;
  font-size:10px;
} */


.header1{
  background-color: var(--bg-color);
  



}
.header2{
  
  display: none;
  

}




@media (max-width:992px){
  .header1{
    display:none ;
  }
  .header2{
    display:inline;
    background-color: var(--bg-color);
   
  }

  .bg-color{
    background-color: var(--first-color);
  }

    }



/* *********************** Bootstrap ******************************** */

  .nav-item{
    transition: all 0.7s ease-in-out;
    border:1px solid transparent ;
  }

  .nav-item:hover{
    background-color: var(--first-alpha-color);
    border-radius:;
    border: 1px solid white;
    
    
  }

  .nav-busqueda{
    background-color: var(--second-color);
  }

  .nav-busqueda div div span{
    color: var(--first-color)!important;
  }
  .btn-outline-success{
    color: white!important;
    background-color:var(--first-color)!important;
  }
  .btn-outline-success:hover{
    background-color: crimson!important;
    color: var(--first-color)
  }